/*
  This css file is for individual users to restyle items for their personal site,
  or for the implementation of features specifically for their site. Anything that
  is an official part of the theme (ex. Pull Requests) should be included in main.css
  within the formating given.
*/

/* #site-intro header h1 {
	font-size: 1.4em;
} */

/* html {
	font-size: 1.0em;
	line-height: 1.4;
} */

body, input, select, textarea {
	line-height: 1.4em;
}

#site-intro main p {
	font-size: 1em;
}

/* Default is 55em */
/* .post {
	max-width: 57em; 
} */


/* This affects the space between the text of post bodies and the edge of the boxes that contain them */
/* Default is 0 4em */
/* .post > div, .post > p {
	margin: 0 1em; 
} */